header{
  background-color: lightgreen;
  height: 60px;
  margin-bottom: 30px;
}
h1{
  margin-top: 0;
  padding: 11px 10px 0 72vh;
}

.new{
  color: lightgreen;
}

.columns {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.column {
  width: 30%;
}

.card {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
}

h2 {
  margin-top: 0;
}

ul {
  list-style: none;
  padding: 0;
}

.completed {
  text-decoration: line-through;
}
